header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  padding: 0 10%;
  margin: 30px;
  justify-content: center;
  flex-direction: column;
}

header h1{
  font-style: italic;
}

header div input{
  width: 1100px;
  height: 40px;
  font-size: 20px;
  margin-right: 5px;
  margin-top: 15px;
  border-radius: 5px;
  border: 0.5px outset gray;
}

header button{
  cursor: pointer;
  background-color: #e37474;
  color: white;
  border-radius: 6px;
  border: white;
  font-size: 20px;
  padding: 9px 15px 10px;
}

header button:hover,
header button:active {
  background-color: #5a93b9;
}
