ul{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 135px;
    margin-right: 115px;
    height:200px;
    overflow-y: scroll;
}


ul li{
    list-style-type: none;
    margin-bottom: 10px;
    background: rgba(211, 211, 211, 0.2);
    width: 100%;
    min-height: 45px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

ul li:hover .delete-btn{
    display: block;
}

.delete-btn {
    cursor: pointer;
    color: #e37474;
    border-radius: 6px;
    border: white;
    display: none;
    margin-right: 10px;
}

.delete-btn:hover,
.delete-btn:active {
    background-color: #e37474;
    color: white;
}

li input{
    margin-left: 10px;
    margin-right: 10px;
}

li span{
    font-size: 17px;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
li span:hover{
    cursor: pointer;
}

